.parent-header {
  display: flex;
}
.left-header,
.right-header {
  flex: 1;
}

.language-form-field {
  max-width: 20%;
}

.mat-select-panel {
  width: 10%;
}

.mat-option {
}

.mat-select .mat-select-trigger {
}
