<div class="parent-header">
  <div class="left-header"></div>
  <div class="center-header">
    <h1 *transloco="let t; lang: this.language">{{ t("headerTitle") }}</h1>
    <!-- <p *transloco="let t; lang: 'pt'">{{ t("headerTestText") }}</p> -->
    <p>
      <i *transloco="let t; lang: this.language"
        >{{ t("headerSubtitle.subtitle1") }}
        <a href="https://github.com/keeganosler">@keeganosler</a>
        {{ t("headerSubtitle.subtitle2") }}
        <a href="https://punkapi.com/documentation/v2">Punk API</a>.</i
      >
    </p>
  </div>
  <div class="right-header">
    <mat-form-field class="language-form-field">
      <mat-select [formControl]="languageControl">
        <mat-select-trigger>
          <span
            ><img height="50" width="50" src="{{ selectedLanguage.url }}"
          /></span>
        </mat-select-trigger>
        <mat-option *ngFor="let language of languages" [value]="language.code">
          <img height="50" width="50" src="{{ language.url }}"
        /></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
