<div style="height: 15%; width: 100%">
  <app-search-beers></app-search-beers>
</div>
<div style="height: 15%; width: 100%">
  <app-random-beer></app-random-beer>
</div>
<app-beer-prop-slider
  [minimum]="5"
  [maximum]="10"
  (toggleChange)="applyAbvFilter($event)"
></app-beer-prop-slider>
<app-beer-prop-slider
  [minimum]="5"
  [maximum]="10"
  (toggleChange)="applyIbuFilter($event)"
></app-beer-prop-slider>
<app-beer-prop-slider
  [minimum]="5"
  [maximum]="10"
  (toggleChange)="applyEbcFilter($event)"
></app-beer-prop-slider>
