mat-slider {
  width: 50%;
}

.filter-label {
  margin-block-start: 1em;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 5px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 7px;
  border-radius: 7px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-accent .mat-slider-thumb {
  height: 25px;
  width: 25px;
  background-color: black !important;
  border: solid 2px white !important;
  bottom: -15px;
  right: -15px;
}

.mat-slider.mat-slider-track-background,
.mat-slider-track-fill {
  background-color: #424242 !important;
}
