.card-front {
  max-width: 85%;
  max-height: 90%;
  margin: 0 auto;
}

.beer-description {
  max-height: 400px;
  overflow: scroll;
}

.stat-label:first-child.stat-label:first-child {
  font-size: 80px;
  margin-right: 10%;
}
stat-label:last-child {
  font-size: 100%;
}
