<mat-card *ngIf="beer" style="max-width: 85%; max-height: 90%; margin: 0 auto">
  <mat-card-title>
    {{ beer.name }}
  </mat-card-title>
  <mat-card-subtitle>{{ beer.tagline }}</mat-card-subtitle>
  <mat-card-content>
    <div class="d-flex">
      <h3 class="mr-5" style="max-height: 400px; overflow: scroll">
        {{ beer.description }}
      </h3>
      <img
        mat-card-image
        class="mr-4"
        src="{{ beer.imageUrl }}"
        [style.minHeight]="'400px'"
        [style.minWidth]="'100px'"
        [style.maxHeight]="'400px'"
        [style.maxWidth]="'100px'"
      />
    </div>
  </mat-card-content>
  <mat-card-actions align="end"
    ><button
      mat-stroked-button
      (click)="flipToBack.next()"
      *transloco="let t; lang: this.language"
    >
      {{ t("viewBeerFooterLabel.front") }} ->
    </button></mat-card-actions
  >
</mat-card>
