<div class="d-flex carousel-parent-container">
  <button
    mat-stroked-button
    (click)="onMoveCarouselBack()"
    class="carousel-button-left"
  >
    <
  </button>
  <div
    *ngIf="beerPool"
    class="carousel-items-wrapper d-flex align-items-center justify-content-between"
  >
    <div
      class="carousel-item d-flex align-items-center justify-content-center"
      *ngFor="let beer of carouselBeers"
      [ngClass]="{ 'carousel-item-active': beer.id === currentBeer.id }"
    >
      <img
        src="{{ beer.imageUrl }}"
        [style.minHeight]="'40px'"
        [style.minWidth]="'10px'"
        [style.maxHeight]="'40px'"
        [style.maxWidth]="'10px'"
      />
    </div>
  </div>
  <button
    mat-stroked-button
    (click)="onMoveCarouselForward()"
    class="carousel-button-right"
  >
    >
  </button>
</div>
