<mat-card *ngIf="beer" style="max-width: 90%; margin: 0 auto">
  <mat-card-title>
    {{ beer.name }}
  </mat-card-title>
  <mat-card-subtitle>{{ beer.tagline }}</mat-card-subtitle>
  <mat-card-content style="height: 100%">
    <mat-tab-group>
      <mat-tab label="Stats">
        <mat-grid-list cols="2" rowHeight="2:1" style="height: 375px">
          <mat-grid-tile class="stats-grid-tile">
            <div>
              <p style="top: 0; left: 0">ABV</p>
              <h1>{{ beer.abv }}</h1>
            </div></mat-grid-tile
          >
          <mat-grid-tile class="stats-grid-tile"
            ><p>EBC</p>
            <h1>{{ beer.ebc }}</h1></mat-grid-tile
          >
          <mat-grid-tile class="stats-grid-tile"
            ><p>IBU</p>
            <h1>{{ beer.ibu }}</h1></mat-grid-tile
          >
          <mat-grid-tile class="stats-grid-tile"
            ><p>SRM</p>
            <h1>{{ beer.srm }}</h1></mat-grid-tile
          >
          <mat-grid-tile class="stats-grid-tile"
            ><p>pH</p>
            <h1>{{ beer.ph }}</h1></mat-grid-tile
          >
          <mat-grid-tile class="stats-grid-tile"
            ><div>
              <p>Food Pairings</p>
              <p *ngFor="let food of beer.foodPairings">
                {{ food }}
              </p>
            </div></mat-grid-tile
          >
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Ingredients" style="height: 375px">
        <div #ingredients class="d-flex justify-content-start">
          <div>
            <h2>Hops</h2>
            <mat-list>
              <mat-list-item *ngFor="let hop of beer.ingredients.hops">
                <mat-icon mat-list-icon>*</mat-icon>
                <div mat-line>
                  {{ hop.name }} ({{ hop.amount.value }}
                  {{ hop.amount.unit === "kilograms" ? "kg" : "g" }})
                </div>
              </mat-list-item>
            </mat-list>
          </div>
          <div>
            <h2>Malt</h2>
            <mat-list>
              <mat-list-item *ngFor="let malt of beer.ingredients.malt">
                <mat-icon mat-list-icon>*</mat-icon>
                <div mat-line>
                  {{ malt.name }} ({{ malt.amount.value }}
                  {{ malt.amount.unit === "kilograms" ? "kg" : "g" }})
                </div>
              </mat-list-item>
            </mat-list>
            <h2>Yeast</h2>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>*</mat-icon>
                <div mat-line>
                  {{ beer.ingredients.yeast }}
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="How to Make"
        ><div #method>
          <h2>
            Fermentation: {{ beer.method.fermentation.temp.value
            }}{{ beer.method.fermentation.temp.unit }}
          </h2>
          <h2>Mash</h2>
          <div *ngFor="let m of beer.method.mashTemp">
            {{ m.duration }}<span class="small">at</span>{{ m.temp.value
            }}{{ m.temp.unit }}
          </div>
          <h2 *ngIf="beer.method.twist">Twist: {{ beer.method.twist }}</h2>
          <h2>Brewers Tips: {{ beer.brewersTips }}</h2>
        </div></mat-tab
      >
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions align="start"
    ><button mat-stroked-button (click)="flipToFront.next()">
      {{ "<- Show Less" }}
    </button></mat-card-actions
  >
</mat-card>
