.stats-grid-tile {
  height: 33%;
  width: 50%;
  margin: 0px 10px 10px 0px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.ingredient-list-item {
  max-width: 100%;
}

mat-list {
}

/* .mat-tab-group {
  height: 100%;
}
.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */
