.card-back {
  max-width: 90%;
  margin: 0 auto;
}

.stats-grid-tile {
  height: 33%;
  width: 50%;
  margin: 0px 10px 10px 0px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.stats-grid-tile.p {
  top: 0;
  left: 0;
}

.ingredient-list-item {
  max-width: 100%;
}
